<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="OKFileDirectory" value="C:\AZ_OK_File"/>
    <!--<add key="OKFileDirectory" value="C:\AZ_OK_File"/>-->
    <add key="FileCopyDirectoryPrincessULC" value="C:\AZ_OK_File\ProcessedPrincessULC"/>
    <add key="FileCopyDirectoryInCommULC" value="C:\AZ_OK_File\ProcessedInCommULC"/>
    <add key="FileCopyDirectoryDisneyInfinityLogULC" value="C:\AZ_OK_File\ProcessedDisneyInfinityLogULC"/>
    <!--<add key="FileCopyDirectoryPrincessULC" value="C:\AZ_OK_File\ProcessedPrincessULC"/>-->
    <!--<add key="FileCopyDirectoryInCommULC" value="C:\AZ_OK_File\ProcessedInCommULC"/>-->
    <!--<add key="FileCopyDirectoryDisneyInfinityLogULC" value="C:\AZ_OK_File\ProcessedDisneyInfinityLogULC"/>-->
    <add key="LogLocation" value="C:\Logs\AZPrincessLog.txt"/>
    <add key="RefTableName" value="Mifare_AZ_ref"/>
    <!--<add key="SourceServer" value="COCSSQL02"/>-->
    <!--<add key="SourceDatabase" value="AffinaDLL_Test"/>-->
    <!--<add key="TargetServer" value="COCSSQL02"/>-->
    <!--<add key="TargetDatabase" value="AffinaDLL_Test"/>-->
    <!--<add key="ConnectionString" value="Password=DPUser1!1;Persist Security Info=False;User ID=DPUser1;Initial Catalog=AffinaDLL_Test;Data Source=COCSSQL02;Connection Timeout=5;"/>-->
    <add key="ConnectionString" value="Password=Veritas1!1;Persist Security Info=False;User ID=Veritas;Initial Catalog=BAR;Data Source=10.81.250.200;Connection Timeout=5;"/>
    <add key="SourceServer" value="CODATASRV"/>
    <add key="SourceDatabase" value="BAR"/>
    <add key="TargetServer" value="COCSSQL02"/>
    <add key="TargetDatabase" value="FOO"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
